# Ignore the runs folder
runs/

# Ignore other typical files and folders
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

#Ignore launcher files
.idea
.cache
.ipynb_checkpoints
.ipython/profile_default
.jupyter
.keras
.local

#Ignore produced files
Google_Colab-Interactive_AI_Playground/SparseArray.txt
Google_Colab-Interactive_AI_Playground/TheVerdict.txt
Google_Colab-Interactive_AI_Playground/*
